#navcontainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid lightslategray;
    background-color: #1A1A1A;
    opacity: 97%;
}

#nav-item-container {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    column-gap: 25%;
    line-height: 50px;
}

.nav-item {
    cursor: pointer;
    font-size: x-large;
}

.nav-item:hover {
    color: #a10d1e;
}

#components {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media (max-width: 950px) {
    #nav-item-container {
        width: 100%;
        justify-content: space-between;
        column-gap: 5%;
    }
}

@media (max-width: 600px) {
    .nav-item {
        font-size: large;
    }
}