.content-container {
    padding: 1rem;
    background-color: #282828;
    border-radius: 8px;
}

.job-title {
    font-weight: 300;
    font-size: x-large;
}

.company { 
    color: #c40c21;
    font-style: italic;
    padding-bottom: 7px;
}

.job-description {
    text-align: justify;
}

@media (max-width: 800px) {
    #timeline-container {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .company {
        padding-bottom: 0%;
    }

    .date {
        padding-bottom: 7px;
    }
}