#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
}

#title {
  font-size: 30pt;
}


@media (max-width: 600px) {
  #root {
    padding: 0 10px 10px 10px;
  }
  #title {
    font-size: xx-large;
  }
}